*{
  font-size: 20px;
  font-family: sans-serif;
}

body{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

img{
  background-color: transparent !important;
  max-width: 100px;
}

button{
  border-color: rgb(137, 43, 226);
  
}
