*{
  font-size: 20px;
  font-family: sans-serif;
}

body{
  background-color: white !important;
  color: black !important;
}

img{
  background-color: transparent !important;
  max-width: 100px;
}

button{
  border-color: blueviolet;
  
}
